body, html {
	height: 100%;
}

h1{
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
}

h2{
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-style: italic;
}

.buttonWrapper{
	position: relative;
}

#mainButton{
	background-color: transparent;
	border: 4px;
	border-style: solid;
	border-color: white;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: block;
	cursor: pointer;
	text-decoration: none;
	position: absolute;
}



.card{
	margin: 11px;
	border: 1px solid rgba(0,0,0,.0);
	box-shadow: 0 0 11px rgba(33,33,33,.2);
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.card:hover{
	box-shadow: 0 0 11px rgba(33,33,33,.5);
	border: 1px solid blue;
}

.buttonBG{
	width: 0px;
	height: 62px;
	background-color: white;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
	position: absolute;
}

#mainButton:hover{
	background-color: transparent;
	color: blue;
}

#bigBlue{
	width: 50%;
	-webkit-transition: width 7s ease !important;
	-moz-transition: all .7s ease !important;
	-o-transition: all .7s ease !important;
	-ms-transition: all .7s ease !important;
	transition: all .7s ease !important;
}

#firstRow{
	-webkit-transition: width 7s ease !important;
	-moz-transition: all .7s ease !important;
	-o-transition: all .7s ease !important;
	-ms-transition: all .7s ease !important;
	transition: all .7s ease !important;
}

#toBeRemoved{
	width: 50%;
	-webkit-transition: width .7s ease !important;
	-moz-transition: all .7s ease !important;
	-o-transition: all .7s ease !important;
	-ms-transition: all .7s ease !important;
	transition: all .7s ease !important;
}

.buttonWrapper:hover .buttonBG{
	width: 122px;
}

.white{
	color: white;
}

.blue{
	background-color: blue;
}

.grey{
	color: grey;
}

.fullScreen{
	height: 100%;
	width: 100%;
	background-color: green;
	color: green;
}

.backgroundImage{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.centerChildren{
	margin: auto;
	width: 75%;
}


.verticalCenter{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 45%;
}

.verticalParent{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#changingProfessions{
	white-space: nowrap;
}

.verticalChild{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.spacer{
	height: 20px;
}

.alignRight{
	float: right;
	position: relative;
	margin-right: 10px;
}
.alignLeft{
	float: left;
	position: relative;
	margin-left: 10px;
}

.smallGrey{
	color: grey;
	font-size: 20px !important;
}

.giantText{
	font-size: 2.2em; 
	font-weight: 300;
	font-style: italic;
}

.oneColumnMargin{
	margin-left: 15%;
	margin-right: 15%;
}

@media only screen and (max-width: 600px) {

	h2{
		font-style: 16px;
	}

	.oneColumnMargin{
		margin-left: 5%;
		margin-right: 5%;
	}

	.giantText{
		font-size: 1.4em;
	}

	p{
		font-size: 12px;
	}
	#bigBlue{
		width: 100%;
	}

	#changingProfessions{
		font-size: 25px;
	}

	#toBeRemoved{
		display: none;
		width: 0;
	}
}
