body, html {
	height: 100%;
 }

 h1{
 	font-family: 'Roboto Mono', monospace;
 	font-weight: 700;
 }

 h2{
 	font-family: 'Roboto Mono', monospace;
 	font-weight: 300;
 	font-style: italic;
 }

 .buttonWrapper{
 	position: relative;
 }

 #mainButton{
	background-color: transparent;
	border: 4px;
	border-style: solid;
	border-color: white;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: block;
	cursor: pointer;
	text-decoration: none;
	position: absolute;
}

.buttonBG{
	width: 0px;
	height: 62px;
	background-color: white;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
	position: absolute;
}

#mainButton:hover{
	background-color: transparent;
	color: blue;
}

.buttonWrapper:hover .buttonBG{
	width: 122px;
}

.white{
	color: white;
}

.blue{
	background-color: blue;
}

.fullScreen{
	height: 100%;
	width: 100%;
	background-color: green;
	color: green;
}

.backgroundImage{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.centerChildren{
	margin: auto;
	width: 75%;
}


.verticalCenter{
	margin-left: auto;
 	margin-right: auto;
  	position: relative;
	top: 45%;
}

.spacer{
	height: 20px;
}
