<!DOCTYPE html>
<html>
<head>
	<title></title>

	<meta charset="utf-8" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" src="main.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,700,700i&display=swap" rel="stylesheet">

	 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</head>

<body>
	<div id = "firstRow" class="row" style="height: 100%">
		<div id="bigBlue" class = "col-sm-5 col-xs-7 blue verticalParent" style="height: 100%; padding: 40px;">
			<div class = "verticalChild">
				<h1 class = "white">Alan Turing</h1>
				<div class = "spacer"></div>
				<div>
					<h2 id = "changingProfessions" class = "white">Mathematician</h2>
					<div class="spacer"></div>
					<div class="spacer"></div>
					<!--<img src="/images/signature.svg" style="height: 40px;"> -->
					<div id = "mButtonWrapper" class = "buttonWrapper">
						<div class = "buttonBG"></div>
						<button id= "mainButton">ENTER</button>
					</div>
				</div>
			</div>

		</div>
		<div id = "toBeRemoved" class = "col-sm-7" style="height: 100%; padding: 0;">
			<div id = "mainPageBg"class = "backgroundImage" style = "height: 100%; width: 100%; background-image: url(/images/turing.jpg)">
			</div>
		</div>
	</div>



	<section id = "secondPage" style="display: none;">
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>

		<div id = "refreshAOS" class = "row oneColumnMargin">
			<div class = "col-sm-6 verticalParent">
				<h1 class = "giantText alignRight verticalChild" style="color: blue; opacity: 1;text-align: right;">"We can only see a short distance ahead, but we can see plenty there that needs to be done."<br><span class = "smallGrey">-Alan Turing</span></h1>


			</div>

			<div class = "col-sm-6">
				<p style="color: black">Alan Turing , in full Alan Mathison Turing, (born June 23, 1912, London, England—died June 7, 1954, Wilmslow, Cheshire), British mathematician and logician, who made major contributions to mathematics, cryptanalysis, logic, philosophy, and mathematical biology and also to the new areas later named computer science, cognitive science, artificial intelligence, and artificial life.
					<br><br>
				In his seminal 1936 paper, he proved that there cannot exist any universal algorithmic method of determining truth in mathematics, and that mathematics will always contain undecidable propositions. That paper also introduced the "Turing machine". His papers on the subject are widely acknowledged as the foundation of research in artificial intelligence.</p>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>

		<div class = "row oneColumnMargin">
			<div class = "col-sm-6">
				<img class = "alignRight verticalChild" src = "/images/machine.png" style="height:200px">
			</div>

			<div class = "col-sm-6">
				<h1 class = "giantText" style="color: blue; opacity: 1;">Breaking the code</h1>
				<p  style="color: black ">In WWII, Nazi forces used an engima to encode all thier messages. Codebreaking was incredibly difficult as the method of encoding would change frequently. Computations done by hand were tedious and error-prone. Enter the Turing Machine, designed by Turing to automate many of the computations needed to break the codes. His device is estimated to have shortened the war by two years, saving <b>14 million lives</b></p>
			</div>
		</div>

		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>

		<h1 style= "text-align: center;">Gallery</h1>

		<div class="spacer"></div>
		<div class="spacer"></div>
		

		<div class="masonry oneColumnMargin">
            <div class="spacer"></div>
            <div data-aos ="fade-up" >
			<div class="item">
				<img class="card-img" src="/images/cards/2.png" alt="Card image">
			</div>
            </div>
			<div data-aos ="fade-up" >
			<div  class="item p-3 text-right" style="background-color: blue;">
				<blockquote class="blockquote mb-0">
					<h2 class="white">I propose to consider the question, 'Can machines think?</h2>
					<small class = "white">
						- Alan turing	
					</small>
				</blockquote>
			</div>
            </div>
			<div data-aos ="fade-up" >
			<div  class="item">
				<img class="card-img" src="/images/machine.png">
			</div>
            </div>
			<div data-aos ="fade-up" >
			<div  class="item">
				<img class="card-img" src="/images/cards/3.jpg" alt="Card image">
			</div>
            </div>
			<div data-aos ="fade-up" >
			<div  class="item">
				<img class="card-img" src="/images/cards/4.jpg" alt="Card image">
			</div>
            </div>
			<div data-aos ="fade-up" >
			<div  class="item">
				<img class="card-img" src="/images/cards/7.jpg" alt="Card image">
			</div>
            </div>
			<div data-aos ="fade-up" >
			<div  class="item">
				<img class="card-img" src="/images/cards/6.jpg" alt="Card image">
			</div>
            </div>
			<div data-aos ="fade-up" >
			<div  class="item text-center">
					<img class="card-img" src="/images/cards/5.jpg">
			</div>
            </div>
			<div class = "spacer"></div>
			<div data-aos ="fade-up">
			<div  class="item">
				<img class="card-img" src="/images/cards/1.jpg" alt="Card image">
			</div>
			</div>
			<div data-aos ="fade-up" >
			<div  class="item p-3 text-left" style="background-color: blue;">
				<blockquote class="blockquote mb-0">
					<h2 class="white">A computer would deserve to be called intelligent if it could deceive a human into believing that it was human.</h2>
					<small class = "white">
						- Alan turing	
					</small>
				</blockquote>
            </div>
			</div>
			<div data-aos ="fade-up" >
			<div  class="item">
				<img class="card-img" src="/images/moviePoster.jpg" alt="Card image cap">
			</div>
            </div>
            <div data-aos ="fade-up" >
			<div  class="item">
				<img class="card-img" src="/images/turing2.jpg" alt="Card image cap">
			</div>
            </div>
		</div>
        
        <div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
        
        <h1 style="text-align: center; color:blue">Alan Turing</h1>
        <h1 style= "text-align: center;">1912  &#8212; 1954</h1>

		<div class="spacer"></div>
		<div class="spacer"></div>
        
        <div class = "row oneColumnMargin">
			<div class = "col-sm-6">
				<img class = "alignRight " src = "/images/pardoned.jpg" style="height:550px">
			</div>

			<div class = "col-sm-6">
                <div class = "verticalChild">
				    <h1 class = "giantText" style="color: blue; opacity: 1;">True to Himself</h1>
				    <p  style="color: black">Turing was also openly gay and in the early 1950s was arrested and punished for his sexual orientation by the same government he served. <br><br>
                         He made no serious denial or defence, instead telling everyone that he saw no wrong with his actions. He was particularly concerned to be open about his sexuality even in the hard and unsympathetic atmosphere of Manchester engineering. Rather than go to prison he accepted, for the period of a year, injections of oestrogen intended to neutralise his libido. <br><br> From his earliest days in school to his enduring legacy, Turing faced many challenges, yet, stayed true to himself by pursing his love of science and living an open, honest life.
                        <br><br>
                        He was given a posthumous royal pardon for his 1952 conviction for homosexuality by Queen Elizabeth in 2013. 
                    </p>
			     </div>
             </div>
		</div>
        
        <div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
        <div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
		<div class="spacer"></div>
        <div style="background-color:blue">
        <h2 style="font-size:1em; padding:15px; color:white; text-align:center">&copy;2019 <a href = "http://jakexia.com">jakexia.com</a></h2>
        </div>
        
	</section>
	
  <script>
    AOS.init();
  </script>
</body>
</html>